{
    "base_url": "http://www.geco.unam.mx/geco3/",
    "anon_user": "anonymous_username",
    "anon_pass": "anonymous_password",
    "app_name": "your_app_name",
    "app_password": "your_app_password"
}